.iphone-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; 
  position: relative; 
}


.ava-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; /* Абсолютное позиционирование */
  top: 0; /* Положение относительно верхней границы родительского элемента */
  left: 0; /* Положение относительно левой границы родительского элемента */
  width: 100%; /* Занимаем 100% ширины родительского элемента */
  height: 100%; /* Занимаем 100% высоты родительского элемента */
  z-index: 2; /* Определяем слой наложения, чтобы .ava-btn был поверх .iphone-image */
}

.avatarImage {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 5ch;
}

.name {
  color: gray;
  text-align: center;
  margin-bottom: 5ch;
}
.h5, .describe{
  margin-top: -1ch;
}

.containerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 50vh;

}

.Btn {
  width: 35ch;
  height: 5.5ch;
  margin-top: 0.4ch;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-color: grey;
  border-radius: 2ch;
  background: radial-gradient(circle, #f3e51f, #ffc107);
  text-decoration: none;
  color:black;
}

.btn, .pict {
  height: 2ch;
  vertical-align: super;
}

.span {
  font-size: 2ch;
  margin-left: 1ch;
  vertical-align: super;
}

.span:hover {
  font-weight: bolder;
  size: 20ch;
}

.avatarContainer {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 60px;
}
