.iphone-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.ava-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.avatarImage {
  width: 10%; 
  max-width: 160px; 
  height: auto; 
  border-radius: 50%;
  margin-bottom: 2%;  
}

.name {
  color: gray;
  text-align: center;
  margin-bottom: 2%;  
}
.h5,
.describe {
  margin-top: -1%;
}

.containerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Btn {
  width: 30ch;  
  height: 5.5ch;
  margin-top: 1%;  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-color: grey;
  border-radius: 2ch;
  background: radial-gradient(circle, #f3e51f, #ffc107);
  text-decoration: none;
  color: black;
}

.btn,
.pict {
  height: 1ch;  
  vertical-align: super;
}

.span {
  font-size: 2ch;  
  margin-left: 1ch;
  vertical-align: super;
}

.span:hover {
  font-weight: bolder;
  size: 2ch; 
}

.avatarContainer {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;  
  margin-top: 2vh;  
}
