.footer {
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 20ch;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem; /* Добавлено для примера, можно настроить по вашему вкусу */
  }