#gallery {
  background-color: rgb(207, 201, 201);
  padding-bottom: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  word-wrap: break-word;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; /* Изображение и текст расположены близко друг к другу */
  margin: 2ch auto;
  width: 75%; /* Уменьшаем ширину контейнера */
}
.card-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2ch auto;
  width: 70%;
}
.textAfterCard {
  margin-left: 2rem; /* Оставляем разумный отступ */
  text-align: left;
  width: 100%; /* Ширина текстового блока */
}

.card {
  cursor: pointer;
  width: 100%; /* Ширина изображения */
  object-fit: contain;
  border: none;
  background: transparent;
  margin-right: 2rem; /* Отступ между изображением и текстом */
}

.material {
  font-size: smaller;
  font-style: italic;
  text-indent: 0ch;
}

/* Медиазапросы для адаптивности */
@media (max-width: 992px) {
  .card-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card {
    width: 80%;
    margin-bottom: 2rem;
  }

  .textAfterCard {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
