#gallery {
  background-color: rgb(207, 201, 201);
  margin-bottom: 4ch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  word-wrap: break-word;
}

.containerTextGalaryTop {
  text-align: justify;
  text-indent: 2ch;
  margin: 10ch auto 0 auto;
  padding: 9ch 0;
  line-height: 1.2;
  width: 60%;
}

.textBlock {
  display: flex;
  margin: 2ch 10% 0 10%;
  text-indent: 2ch;
}

.textRight1, .textRight2, .textRight3 {
  @extend .textBlock;
}

.textAfterCard {
  margin: 5% 5% 0 5%;
  text-align: left;
}

.textAfterCard1, .textAfterCard2, .textAfterCard3 {
  @extend .textAfterCard;
}

.card {
  cursor: pointer;
  flex: 0 0 40%; 
  margin-left: 5%; 
  width: 60%;
  height: auto;
  object-fit: contain;
  border: none;

}


.material {
  font-size: smaller;
  font-style: italic;
  text-indent: 0ch;
}

.textRight3 {
padding-bottom: 2%;
position: relative;
};

.cv{
  top: 80%; 
  right: 1%; 
  margin-left: 5%;
}