#gallery {
  background-color: rgb(207, 201, 201);
  margin-bottom: 4ch;
  height: auto;
  // display: flex;
  flex-direction: column;
  align-items: center; /* Центрировать элементы по горизонтали */
  justify-content: center;
  text-align: justify;
  word-wrap: break-word;
}

.containerTextGalaryTop {
  text-align: justify;
  text-indent: 2ch;
  margin-top: 10ch;
  padding-top: 9ch;
  padding-bottom: 9ch;
  margin-left: auto; 
  margin-right: auto;
  line-height: 1.2;
  width: 60%; /* Ширина текста 60% экрана */
}

.textRight1,
.textRight2,
.textRight3 {
  display: flex;
  margin-top: 2ch;
  margin-left: 10%;
  margin-right: 10%;
  text-indent: 2ch;
  align-self: flex-end; /* Выравнивание текста справа */
}
.textAfterCard1,
.textAfterCard2,
.textAfterCard3 {
  margin-left: 5%;
}

.card {
  cursor: pointer;
  flex: 0 0 40%; /* 30% width, don't grow, don't shrink */
  margin-left: 5%; /* Отступ от левого края */
}

.card img {
  width: 100%; /* Make sure the image takes up 100% of the card width */
}

.material {
  font-size: smaller;
  font-style: italic;
  text-indent: 0ch;
}

.textRight3 {
padding-bottom: 2%;
position: relative;
};

.textAfterCard3 .cv{
  top: 80%; 
  right: 1%; 
}