#main {
  margin-bottom: 10%;
}

.headerImg {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.firstText {
  margin-left: 2vw;
}

.text-indent {
  text-indent: 4rem;
}

.text-end, .textMainImg3 {
  @extend .text-indent;
}


.containerText {
  line-height: 1.2;
  text-align: justify;
  margin: 2rem 5rem auto 5rem;
  text-indent: 2rem;
  position: relative;
}

.text-end {
  margin-top: 3vw;
}

.textMainImg3 {
  margin-top: 2vw;
  text-align: justify;
}

.h3_MainText3 {
  margin-top: 12vw;  
}

.zoomable {
  transition: transform 0.3s ease;
}

.zoomable:hover {
  transform: scale(1.5);
}

.img2, .img3 {
  @extend .zoomable;
}

.img2 {
  height: 20vw;  
  float: left;
  padding-left: 1vw;
  padding-right: 2vw;
  margin-top: 1vw;
}

.img2:hover {
  transform: scale(1.5);
}

.img3 {
  margin-top: 5vw;
  height: 25vw;  
  float: right;
  padding: 2vw;
  padding: 0 0 2vw 2vw;
}

.img3:hover {
  transform: scale(1.5);
}
