@import 'navbar.scss';
@import 'footer.scss';
@import 'mainpage.scss';
@import 'galarypage.scss';
@import 'contactpage.scss';
@import 'scrollToTopButton.scss';



@media (min-width: 1282px) and (max-width: 1900px){
  #gallery{
  height: fit-content;

  }

  .containerTextGalaryRightALL {
    padding-left: 3em;
    margin-right: 5%;
  }

  .textRight1,
  .textRight2,
  .textRight3 {
    margin-left: 2%;
  }

  .textRight2 {
    margin-top: 1%; 
  
  }

  .textRight3{
    margin-top: 2%;
  } 
  .main_h_1,
  .main_h_2,
  .main_h_3,
  .h3_textTop,
  .h1_1,
  .h2_2,
  .h3_3 {
    font-size: 1.5em;
  }


  .h3_3 {
    margin-top: 2em;
    text-indent: 2ch;
  }

  .material {
    font-size: 80%;
    font-style: italic;
    text-indent: 0ch;
  }

  .cv{
    margin-top: -2ch;
  }
}


  
  @media (min-width: 768px) and (max-width:   1280px) {
      #gallery{
      height: 55%;      
      }
      .image-container{
        gap: 2rem; 
        margin-top: 2rem;
      }

      .containerTextGalaryTop {
        padding-bottom: 3ch;
        margin-right: 10ch;
        line-height: 1.4;
        
      }      
    
      .containerTextGalaryRightALL {
        padding-left: 1em;
        margin-right: 12%;
        max-width: 50%; 
        font-size: 0.9em;
        line-height: 1.2;
        

      }
      .textRight1{
        margin-bottom: -6rem;
      }
      .textRight1,  
      .textRight3 {
        margin-left: 1%;
        margin-top: 0%; 
      }
    
      .main_h_1,
      .main_h_2,
      .main_h_3,
      .h3_textTop,  
      .h1_1,
      .h2_2,
      .h3_3 {
        font-size: 0.9em;
        margin-top: 4em;
      
      }   

  }


  

// @media (min-width: 768px) and (max-width: 1285px) {
//     .main-container {
//       height: 70pc;
//     }
//     .img2 {
//         height: 15ch;
//       }
//       .img3 {
//         margin-top: 5ch;
//         height: 25ch;
//         float: right;
//         padding: 2ch;
//       }
//       .h3_MainText3 {
//         margin-top: 5ch;
        
//     }

// }