.headerImg {
  width: 100%;
  margin-bottom: 4vw; /* Используем vw вместо ch для более гибкой адаптации */
  margin-top: 2vw;
}

.firstText {
  margin-left: 2vw;
}

.container {
  display: contents;

}

.containerText {
  line-height: 1.2;
  text-align: justify;
  text-indent: 4vw; /* Используем vw вместо ch для более гибкой адаптации */
  margin: 3vw 10vw auto 10vw;
}

.text-end {
  text-indent: 4vw; /* Используем vw вместо ch для более гибкой адаптации */
  margin-top: 3vw;
}

.textMainImg3 {
  margin-top: 2vw;
  text-indent: 4vw; /* Используем vw вместо ch для более гибкой адаптации */
  text-align: justify;
}

.h3_MainText3 {
  margin-top: 12vw; /* Используем vw вместо ch для более гибкой адаптации */
}

.me-auto {
  margin-left: 4vw;
}

.ms-4 {
  margin-right: 4vw;
}

.img2 {
  height: 20vw; /* Используем vw вместо ch для более гибкой адаптации */
  float: left;
  padding-left: 1vw;
  padding-right: 2vw;
  margin-top: 1vw;
  transition: transform 0.3s ease;
}

.img2:hover {
  transform: scale(1.5);
}

.img3 {
  margin-top: 5vw;
  height: 25vw; /* Используем vw вместо ch для более гибкой адаптации */
  float: right;
  padding: 2vw;
  padding-right: 0;
  padding-top: 0vw;
  padding-bottom: 2vw;
  transition: transform 0.2s ease;
}

.img3:hover {
  transform: scale(1.5);
}
