.navbar-container {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 4%; /* Отступы сверху и снизу 3%, слева и справа 4% */
  background-color: transparent;
  transition: background-color 1s ease; /* Плавный переход цвета фона */
}


.nav-underline {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background-color 1s; /* Плавный переход цвета фона */
  padding: 1.5% 4%;
}

.navbar-fixed {
  background-color: rgb(242, 235, 136);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
}

.logo_navbar {
  width: 20%;
  height: 20%;
}

.nav-item {
  margin-left: auto; /* Смещение к правому краю */
}
.nav-link {
  color: rgb(47, 46, 46);
  text-align: center; /* Равнение по центру */
  padding: 0.5rem;
  
}


