:root {
    --navbar-bg-color: rgba(155, 151, 151, 0.9);
    --nav-link-color: rgb(36, 29, 26);
    --nav-link-hover-color: rgb(0, 102, 204);
    --transition-duration: 0.3s;
    --padding-large: 1% 4%;
    --padding-small: 1.5% 4%;
  }
  