.carousel-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Контейнер слайдов располагается в ряд */
.carousel-track {
  display: flex;
  transition: transform 3s ease;
  /* плавный и замедленный переход */
  height: 100%;
}

/* Каждый слайд занимает всю ширину окна */
.carousel-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  flex-shrink: 0;
}

/* Стили для кнопок переключения */
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.contaner-button {
  display: flex;
  background-color: rgba(155, 151, 151, 0.3);
  justify-content: flex-end;
  padding: 2%;
}

.button-about {
  width: 200px;
  min-width: fit-content;
  height: 50px;
  min-height: fit-content;
  font-size: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  border: 1px solid #5c4033;
  color: #5c4033;
  padding: 10px 20px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}


.button-about:hover {
  border-color: #0066cc;
  color: #0066cc;
}

@media (max-width: 1300px) {
  #gallery {
    margin-bottom: 10%;
  }
}

@media (max-width: 998px) {
  #gallery {
    margin-bottom: 10%;
  }
}

@media (max-width: 698px) {
  #gallery {
    margin-bottom: 10%;
  }
}

@media (max-width: 385px) {
  #gallery {
    margin-bottom: 14%;
  }
}