@mixin text-wrap-style {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}

#gallery {
  padding-bottom: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.carousel {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.carousel-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-inner {
  padding-bottom: 2%;
}

.carousel-item {
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.button-about {
  width: 200px;
  min-width: fit-content;
  height: 50px;
  min-height: fit-content;
  font-size: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  border: 1px solid #5c4033;
  color:#5c4033;
  padding: 10px 20px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.button-about:hover {
  border-color: #0066cc;
  color: #0066cc;
}

@media (max-width: 1300px) {
  #gallery {
    margin-bottom: 10%;
  }
}

@media (max-width: 998px) {
  #gallery {
    margin-bottom: 10%;
  }
}

@media (max-width: 698px) {
  #gallery {
    margin-bottom: 10%;
  }
}

@media (max-width: 385px) {
  #gallery {
    margin-bottom: 14%;
  }
}
