@use 'variables';
@use 'scrollToTopButton.scss';
@use 'navbar';
@use 'footer';
@use 'mainpage';
@use 'galarypage';
@use 'contactpage.scss';
@use 'galarydetails.scss';
@use 'blogpage.scss';
@use "basket";



.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/myfont.woff2') format('woff2');
  font-display: swap;
}