@mixin text-wrap-style {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}

#main {
  position: relative;
  margin-bottom: 10%;
}

.headerImg {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin: 0 auto;
}

.text-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  color: rgb(233, 227, 227);
  font-weight: 800;
  font-size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
}

.containerText {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 5%;
  color: rgb(110, 103, 103);
  @include text-wrap-style;
}

.item1 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.item2 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.item5 {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  margin-top: 10%;
}

.item3 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.item4 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.item6 {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  text-align: center;
  padding: 0;
}

.firstText,
.card_title,
h3 {
  font-size: 1.7rem;
}

.textAround1 {
  line-height: 1.5;
  margin-top: 10%;
}

.text-end {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main_h2_1{
  margin-top: 7%;
}
.main_h2_2{
  margin-top: -7%;
}
.main_h_2,
.h3_MainText3.main_h_3 {
  margin: 9% 2% 0% 2%;
  padding: 10px;
}

.textMainImg3 {
  margin-top: 20px;
}

.img2 {
  margin-top: 20%;
}

.img2,
.img3 {
  width: 100%;
  height: auto;
}

.cv_bio {
  display: block;
  text-align: left;
  color: #000;
}

@media (max-width: 1300px) {
  .containerText {
    padding: 0 4%;
    gap: 8px;
  }

  .firstText,
  .card_title,
  h3 {
    font-size: 1.6rem;  
  }


  .main_h_2,
  .h3_MainText3.main_h_3 {
    margin: 1% 1%;
  }
  .main_h2_1{
    margin-top: 7%;
  }
  .main_h2_2{
    margin-top: -7%;
  }

  .text-overlay {
    position: absolute;
    top: 30%;
    font-weight: 400;
    font-size: 2.2rem;
  }
  .item5 {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    margin-top: 10%;
  }
  .item6 {
    padding-left: 70%;
    font-size: 0.2rem;
    transform: translateY(-70px);  
}
}

@media (max-width: 998px) {
  .containerText {
    padding: 0 4%;
    gap: 8px;
  }

  .firstText,
  .card_title,
  h3 {
    font-size: 1.2rem;
  }
  .main_h_2,
  .h3_MainText3.main_h_3 {
    margin: 1% 1%;
    font-size: 1rem;
  }
  .item3 {
    // grid-column: 1 / -2;
    // grid-row: 3 / 4;
    width: 100%;
    font-size: 0.8rem;
    margin-top: -20px;
    padding: 5% 5% 5% 5%;
  }
  .item5 {
    margin-top: 5%;
  }

  .text-overlay {
    top: 20%;
    font-size: 2rem;
  }

  .textAround1 {
    font-size: 1rem;
  }

  .item6 {
    padding-left: 70%;
    font-size: 0.2rem;
    transform: translateY(-40px);
  }
}

@media (max-width: 698px) {

  .firstText,
  .card_title,
  h3 {
    font-size: 1rem;
  }

  .text-overlay {
    top: 10%;
    font-size: 1.5rem;
  }

  .item1 {
    font-size: 0.3rem;
  }
  .item3 {
    grid-column: 1 / -2;
    grid-row: 3 / 4;
    width: 75%;
    font-size: 0.6rem;
    margin-top: -20px;
    padding: 5% 5% 5% 0;
  }


  .item4 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    width: 130%;
    transform: translateX(-30%);
    margin-top: 20%;
  }

  .item6 {
    padding-left: 0;
    font-size: 0.2rem;
    transform: translateY(-20px);
  }
}

@media (max-width: 385px) {

  article,
  .textAround1 {
    font-size: 0.6rem;
  }

  .firstText,
  .card_title,
  h3 {
    font-size: 0.8rem;
  }

  .text-overlay {
    top: 10%;
    font-size: 1rem;
  }

  .item1 {
    font-size: 0.3rem;
  }

  .item3 {
    grid-column: 1 / -2;
    grid-row: 3 / 4;
    width: 75%;
    font-size: 0.5rem;
    margin-top: 20%;
    padding: 5% 5% 5% 0;
  }

  .item4 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    width: 130%;
    transform: translateX(-30%);
    margin-top: 20%;
  }

  .item6 {
    padding-left: 60%;
    transform: translateY(-50px);
  }
}