@use 'scrollToTopButton.scss';
@use 'modal.scss';
@use 'navbar';
@use 'footer';
@use 'mainpage';
@use 'galarypage';
@use 'contactpage.scss';




// App
.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}



:-moz-user-disabled.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}