


.navbar-placeholder {
  height: 80px; 
}

.navbar-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-large);
  height: 80px;
  background-color: transparent;
  transition: background-color var(--transition-duration) ease;
  font-size: 1rem;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--navbar-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: var(--padding-large); 
  z-index: 1000;
}

/* Стили ссылок */
.nav-underline {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background-color var(--transition-duration);
  padding: var(--padding-small);
}

.logo_navbar {
  width: 20%;
  height: auto;
}

.nav-item {
  margin-left: auto;
}

.nav-link {
  color: var(--nav-link-color) !important;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none !important;
  font-weight: normal !important;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--nav-link-hover-color) !important;
}

.nav-link:visited {
  color: var(--nav-link-color) !important;
}

/* Медиа-запросы */
@media (max-width: 1300px) {
  .navbar-container {
    padding: var(--padding-small);
  }
  .logo_navbar {
    width: 15%;
  }
  .nav-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 998px) {
  .navbar-container {
    flex-direction: column;
    padding: var(--padding-small);
    align-items: flex-start;
    height: auto;
  }
  .nav-underline {
    flex-wrap: wrap;
  }
  .logo_navbar {
    width: 30%;
  }
  .nav-link {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 385px) {
  .logo_navbar {
    width: 30%;
  }
  .nav-link {
    font-size: 0.6rem;
  }
}
