:root {
  --navbar-bg-color: rgba(155, 151, 151, 0.9);
  --nav-link-color: rgb(36, 29, 26); /* Коричневый цвет кнопок */
  --nav-link-hover-color: rgb(0, 102, 204); /* Синий цвет при наведении */
  --transition-duration: 1s;
  --padding-large: 1% 4%;
  --padding-small: 1.5% 4%;
  z-index: 999;
}

/* Основной стиль навбара */
.navbar-container {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-large);
  background-color: transparent;
  transition: background-color var(--transition-duration) ease;
  font-size: 1rem;
}

.nav-underline {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background-color var(--transition-duration);
  padding: var(--padding-small);
}

.navbar-fixed {
  background-color: var(--navbar-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
}

.logo_navbar {
  width: 20%;
  height: auto;
}

.nav-item {
  margin-left: auto;
}

/* Гарантированный цвет ссылок */
.nav-link {
  color: var(--nav-link-color) !important;
  text-align: center;
  padding: 0.5rem;
  // font-size: 1rem;
  text-decoration: none !important;
  font-weight: normal !important;
  transition: color 0.3s ease-in-out; /* Плавный переход цвета */
}

/* Цвет при наведении (hover) */
.nav-link:hover,
.nav-link:focus {
  color: var(--nav-link-hover-color) !important;
}

/* Цвет для посещённых ссылок */
.nav-link:visited {
  color: var(--nav-link-color) !important;
}

/* Цвет при нажатии */
.nav-link:active {
  color: var(--nav-link-hover-color) !important;
}

/* Адаптация для ширины экрана до 1300px */
@media (max-width: 1300px) {
  .navbar-container {
    padding: var(--padding-small);
  }
  .logo_navbar {
    width: 15%;
  }
  .nav-link {
    font-size: 0.9rem;
  }
}

/* Адаптация для ширины экрана до 998px */
@media (max-width: 998px) {
  .navbar-container {
    flex-direction: column;
    padding: var(--padding-small);
  }
  .nav-underline {
    flex-wrap: wrap;
  }
  .logo_navbar {
    width: 30%;
  }
  .nav-link {
    padding: 0.5rem 1rem;
  }
  .navbar-container {
    align-items: flex-start;
  }
}

@media (max-width: 385px) {
  .logo_navbar {
    width: 30%;
  }
  .nav-link {
    font-size: 0.6rem;
  }
  .navbar-container {
    align-items: flex-start;
  }
}
